<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= customTitle %></title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <div class="error__container">
        <img src="<%= imgPath %>" alt="">
        <h3><%= msg %></h3>
    </div>
    <a href="/">Back to Home</a>
</body>
</html>