<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>Student List</title>
</head>
<body>
    <%- include("./templates/header.ejs") %>
    <h2>Student List</h2>
    <% console.log(students) %> 
    <ol class="student__list">
        <% for(let student of students) { %> 
            <li class="student__item">
                <a href="/students/<%=student.id%>">
                    <%= `${student.firstName} ${student.lastName}` %>
                </a>
            </li>
        <% } %> 
    </ol>
    <a class="nav__link" href="/">Back To Home</a>
</body>
</html>