<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add car html</title>
  </head>
  <body>
    <form action="">
      <label for="carModel">Car model: </label>
      <input type="text" name="carModel" id="carModel" />
      <br />
      <label for="carProductionDate">Car production date</label>
      <input type="text" name="carProductionDate" id="carProductionDate" />
      <br />
      <button>Add car</button>
    </form>
  </body>
</html>
