<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./car.css" />
    <title>Cars Page</title>
  </head>
  <body>
    <!-- Of course we can write inline JS but is BAD BAD BAD practice.
    Dont do this at home :D  -->
    <script>
      console.log("Hello world");
    </script>
    <h1>Hello user, this is our cars html server side rendered =)</h1>

    <div id="results"></div>
    <script src="./car.js"></script>
  </body>
</html>
